In [15]:
print("hello world","iam india")
print("hello world","iam india",99)
print(30<60)

hello world iam india
hello world iam india 99
True

In [17]:
a=10
b=20
print(a,b)
print('a',b)
print(id(a),id(b))

10 20
a 20
140734172834520 140734172834840

In [23]:
a=90
b="world"
c="hello"
#concatenate
print(c+" "+b)
#addition
print(a+40)

hello world
130

In [21]:
#Arithmetic operators
a=5
b=80
print(a+b) #addition
print(a-b) #Substration
print(a*b) # multiplication
print(a/b) #Division
print(a%b) #modulus
print(a%3) 
print(a**2) #exponents(5*5)
print(a**3) #5*5*5
print(b//3) #floor division

85
-75
400
0.0625
5
2
25
125
26

In [39]:
#assignmnet operator
x=5
print(x)
x=x+5
print(x)
x+=5
print(x)
x=x-5
print(x)
x-=5
print(x)

5
10
15
10
5

In [50]:
#comparison operators
x=10
y=20
print(x==y) 
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)

False
True
False
True
False
True
False

In [65]:
#logical operators
x=10
y=20
print(x==10 and x<y and x==y ) #and->returns true if both statements are true
print(x!=10 or x<y or x==y ) #or-> returns true if one of the statements is true
print(x!=10 ) #not->reverse the result, returns false if the result is true

False
True
False

In [69]:
#membership operators
string1="Hello"
print('h' in string1)
print('h' not in  string1)

False

In [73]:
l=[10,20,30,40,50]
print(50 in l)
print(50 not in l)

True
False

In [77]:
#identity operators
x=10
y=10
print(x is y,x==y) #is-> returns true if both variables are same objects
print(x is not y,x!=y) # is not-> returns true if both variables are not the same object

True True
False False

In [1]:
#bitwise oopeartors
x=10
y=8
print(bin(x))
print(bin(y))
print(x&y,bin(x&y))
print(x|y,bin(x|y))

0b1010
0b1000
8 0b1000
10 0b1010

In [9]:
#data types
# numeric(integers,float,complex)
#sequence type(string ,list,tuple)
#dictionary
#set
a=5
print(a,type(a)) #integers
a=5.5
print(a,type(a)) #float
a=2+5j
print(a,type(a)) #complex

5 <class 'int'>
5.5 <class 'float'>
(2+5j) <class 'complex'>
this is a string <class 'str'>
 a multistring
welcome  <class 'str'>

In [ ]:
#mutable and immutable data types
#mutable object can change its state or contents and immutable objects cannot
#mutable data types-> list dictionary,byte array
#immutable data type-> int,float,complex,string,tuple,set

In [23]:
# A string is a collection of one or more charactersput in a single quote, double-quote or triple quote
#Multi-line string can be denoted using triple quotes,''' or """
s="this is a string"
print(s,type(s))
s=''' a multistring
welcome '''
print(s,type(s))

this is a string <class 'str'>
 a multistring
welcome  <class 'str'>

In [33]:
#List is an orederd sequence of items
#it is one of the most used datatype inpython and is very flexible
#[]
l=[10,'ws',5.5]
print(l,type(l))
l[2]=5 #update at index 2->index starts from 0
print(l)

[10, 'ws', 5.5] <class 'list'>
[10, 'ws', 5]

In [57]:
#tuple is an orderd sequence of items as a list
#it is defined within parentheses() wher items are separeted by commas
t=(10,20,'hello')
print(t,type(t))
t=(10)
print(t,type(t)) #tuple is faster than list becoz doest not allow updations and deletions
#t[1]= 3 #it is immutable-> can't make changes
#print(t)

(10, 20, 'hello') <class 'tuple'>
10 <class 'int'>

In [53]:
#dictionary is an unordered collection of key-values pairs
#in python, dictionary are defined within braces{} with each item being a pair in the form key:value
# key is always unique we can't assign same type of key in dictionary
d={
    'name':'muskan',
    'age':23
}
print(d,type(d))
print(d['name']) #keys gives value

{'name': 'muskan', 'age': 23} <class 'dict'>
muskan

In [59]:
#set is an unoredered collection of items
#every set elements is unique(no duplicates) and must be immutable(cannot be changed)
#{}
s={10,20,30,10}
print(s,type(s))

{10, 20, 30} <class 'set'>

In [63]:
#getting user input and type casting
a=input("enter the value:-")
# input()-> takes input from users at run time
print(a)

enter the value:- 10

10

In [65]:
a=input("enter the value1:-")
b=input("enter the value2:-")
print(a+b) #here its concatenate so we need to typecast

enter the value1:- 12
enter the value2:- 34

1234

In [73]:
#type cast in int,float, eval
a=int(input("enter the value1:-"))
b=int(input("enter the value2:-"))
print(a+b) 
a=float(input("enter the value1:-"))
b=float(input("enter the value2:-"))
print(a+b) 
b=int(input("enter the value2:-"))
a=float(input("enter the value1:-"))
print(a+b)

enter the value1:- 12
enter the value2:- 23

35

enter the value1:- 2.2
enter the value2:- 2.1

4.300000000000001

enter the value2:- 12
enter the value1:- 2.2

14.2

In [77]:
#eval automatically convert varaibles in to required data type ex it can convert binary to int
a=eval(input("enter the value1:-")) #0b1010
b=eval(input("enter the value2:-")) #30
print(a+b) #40

enter the value1:- 0b1010
enter the value2:- 30

40

In [94]:
#conditional statements
#if else statement
a=int(input("enter a number:-"))
if a%2==0:
    print(a,"even number")
 #print("welcome")-. we should maintance equal space here for every print
else:
    print(a,"odd number")

enter a number:- 23

23 odd number

In [102]:
#if elif else 
per=int(input("enter a number:-"))
if per>=60:
    print("first division")
elif per>=48:
     print("second division")
elif per>=35:
     print("third division")
else:
     print("fail")

enter a number:- 15

fail

In [108]:
#calculator
print('''
+ add
- subtract
* multiply
/ divide
''')
num1=int(input("enter number1:-"))
num2=int(input("enter number2:-"))
opr=input("enter opeartor(+,-,*,/)")
if opr=='+':
    print(num1+num2)
elif opr=='-':
    print(num1-num2)
elif opr=='*':
    print(num1*num2)
elif opr=='/':
    print(num1/num2)
else:
    print("invalid operation")

+ add
- subtract
* multiply
/ divide

enter number1:- 23
enter number2:- 45
enter opeartor(+,-,*,/) p

invalid operation

In [112]:
#calculator
print('''
+ add
- subtract
* multiply
/ divide
''')
num1=int(input("enter number1:-"))
num2=int(input("enter number2:-"))
opr=input("enter opeartor(+,-,*,/)")
if opr=='+':
    print(num1+num2)
if opr=='-':
    print(num1-num2)
if opr=='*':
    print(num1*num2)
if opr=='/':
    print(num1/num2)
if opr!='+' and opr!='-' and opr!='*' and opr!='/':
    print("invalid operation")
# if we wnt to execuate a program fast means we have to use if elif else statement

+ add
- subtract
* multiply
/ divide

enter number1:- 23
enter number2:- 45
enter opeartor(+,-,*,/) p

invalid operation

In [9]:

#range
range(5) #start =0 and end=5
range(1,5) #start=1 and ends at 5
range(1,6,2) #->1,3,5 (start=1, ends at 5 and incrdement is 2)

range(1, 6, 2)

In [48]:
#for loop
for n in range(5):
    print(n)
print("-------")
for n in range(1,6):
    print(n)
print("-----")
for n in range(1,6,2): #increment
    print(n)
print("-----")
for a in range(1,11):
    print("2"," ","*"," ",a," ","="," ",2*a)

0
1
2
3
4
-------
1
2
3
4
5
-----
1
3
5
-----
2   *   1   =   2
2   *   2   =   4
2   *   3   =   6
2   *   4   =   8
2   *   5   =   10
2   *   6   =   12
2   *   7   =   14
2   *   8   =   16
2   *   9   =   18
2   *   10   =   20

In [60]:
#reverse
range(10,0) #decrement we should maintaine -1
for n in range(10,0,-1):
    print(n)
print("-----")
for a in range(10,0,-1):
    print("2"," ","*"," ",a," ","="," ",2*a)

10
9
8
7
6
5
4
3
2
1
-----
2   *   10   =   20
2   *   9   =   18
2   *   8   =   16
2   *   7   =   14
2   *   6   =   12
2   *   5   =   10
2   *   4   =   8
2   *   3   =   6
2   *   2   =   4
2   *   1   =   2

In [66]:
#while loop
i=1
while i<=10:
    print("welcome to india")
    i=i+1;
print(i)
a=10
while a>=1:
    print(a,"hello")
    a=a-1
print(a)

welcome to india
welcome to india
welcome to india
welcome to india
welcome to india
welcome to india
welcome to india
welcome to india
welcome to india
welcome to india
11
10 hello
9 hello
8 hello
7 hello
6 hello
5 hello
4 hello
3 hello
2 hello
1 hello
0

In [74]:
#string is a sequence of character
# strings can be created by enclosing characters inside a single quote or double quote
#triple quotes can be used represent multiline strings which will be exactly as we keep
# left to right indexing start at 0 and end at length-1
#right to left indexing start at -1 and -length
# space also a character in a string, it to has indexing
print("muskan shireen")
s="muskan shireen"
print(s[5])
print(s[6])
print(s[7])
print(s[-5])

muskan shireen
n

s
i

In [220]:
#slicing depends on index value
print("muskan shireen")
s="muskan shireen"
print(s[0:5]) #start at 0 but ends at one index less ie 4
print(s[0:10])
print(s[0::1])
print(s[0::2]) #3rd value in slicing indicates increment
print(s[0::3])
print(s[4::])
print(s[::])
print("REVERSING STRING USING SLICING")
print(s[-1::-1]) #for revesing a string in slicing definetly we should maintain -1 as a decreemnt in 3rd value
print(s[-1:-10:-2])

muskan shireen
muska
muskan shi
muskan shireen
msa hre
mk ie
an shireen
muskan shireen
REVERSING STRING USING SLICING
neerihs naksum
neisn

In [216]:
#string iteration
print("muskan shireen")
s="muskan shireen"
print("STRING ITERATION")
t=len(s) # len() gives length of a string which will be the last index value
print(t)
for a in range(t):
    print(s[a])
print("--STRING ITERATION 2ND METHOD--")
#2nd method by direct passing a string in for loop
print("muskan shireen")
s="muskan shireen"
for a in s:
    print(a)
print("--REVERSING A STRING USING SLICING--")
# reversing a string
#first menthod by slicing
print("muskan shireen")
s="muskan shireen"
s=s[-1::-1]
for a in range(t):
    print(s[a])
print("--2ND METHOD REVERSING STRING BY USING LENGTH--")
#2nd method
print("muskan shireen")
s="muskan shireen"
t=len(s)
for a in range(t-1,-1,-1):
     print(s[a])
print("----")

muskan shireen
STRING ITERATION
14
m
u
s
k
a
n

s
h
i
r
e
e
n
--STRING ITERATION 2ND METHOD--
muskan shireen
m
u
s
k
a
n

s
h
i
r
e
e
n
--REVERSING A STRING USING SLICING--
muskan shireen
n
e
e
r
i
h
s

n
a
k
s
u
m
--2ND METHOD REVERSING STRING BY USING LENGTH--
muskan shireen
n
e
e
r
i
h
s

n
a
k
s
u
m
----

In [218]:
#python string function
print("muskan shireen")
s="muskan Shireen"
print("-----LOWER CASE----")
#lower():-lower case-> convert string's allcharacters in lower case
n=s.lower()
print(n)
print("-----UPPER CASE-----")
#upper():- upper case-> convert string's all characters in upper 
u=s.upper()
print(u)
print("-----TITLE()------")
#title()-> convert every string first characters in upper case and remainaing characters in lower case
t=s.title()
print(t)
print("-----CAPITALIZE()----")
#capitalize->convert only first  string characters in upper case and remainaing characters in lower case
c=s.capitalize()
print(c)
print("-----FIND()-----")
#find()->finds the charater index in a string
str="muskan"
print(str.find('u'))
print(str.find('k',2)) #here 2 indicate from which index we should start searching
print(str.find('u',4)) #if character is before the searching index it simply returns -1 becoz it assume that character is not present
print(str.find('z')) #if character is not present string it return -1
#index()
print("-----INDEX-----")
print(str.index('k'))
print(str.index('k',3)) #here 3 is starting index
#print(str.index('z')) #return error
print("-----ISALPHA()----")
#isalpha()-> it return true if all characters are alphabets otherwise it returns false
str="muskan1"
print(str.isalpha())
print("----ISDIGIT()-----")
#isdigit()->it return true if all characters are numbers otherwise it returns false
print(str.isdigit())
str1="12345"
print(str1.isdigit())
print("---ISALNUM()---")
#isalnum()-> it returns true if atleast one alphabet or number is present in a string but for atleast one special character it return false
str2="muskan2250"
print(str.isalnum())
print(str1.isalnum())
print(str2.isalnum())
str3="@23ty"
print(str3.isalnum())
print("----CHAR()---")
# chr() and ord() works on asci value(ascii values start from 65(A))
#chr()-> takes integer and convert it into a character string according to its ascii value
y=chr(65)
print(y,type(y))
#ord()-> takes single character and it convert it into its responding  asci value
print("----ORD()----")
y=ord('A')
print(y,type(y))
#z=ord("hello")
# print(z) -> return error

muskan shireen
-----LOWER CASE----
muskan shireen
-----UPPER CASE-----
MUSKAN SHIREEN
-----TITLE()------
Muskan Shireen
-----CAPITALIZE()----
Muskan shireen
-----FIND()-----
1
3
-1
-1
-----INDEX-----
3
3
-----ISALPHA()----
False
----ISDIGIT()-----
False
True
---ISALNUM()---
True
True
True
False
----CHAR()---
A <class 'str'>
----ORD()----
65 <class 'int'>